name: Build and deploy docs
on: [push]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-docs:
    name: Build MATLAB docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1

      - name: Make docs
        uses: matlab-actions/run-command@v1
        with:
          command: make_docs

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: helpfiles
          path: './helpfiles'

  deploy-docs:
    name: Deploy bulit docs
    runs-on: ubuntu-latest
    needs: [build-docs]
    # Only deploy on main
    if: success() && github.ref == 'refs/heads/main'

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: helpfiles
          path: './helpfiles'

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './helpfiles'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
