name: Run MATLAB tests
on: [push]

jobs:
  matlab-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1

      - name: Run script
        uses: matlab-actions/run-command@v1
        with:
          command: run_tests

      - name: Upload code coverage
        uses: codecov/codecov-action@v3

      - name: Upload test timings
        uses: actions/upload-artifact@v3
        with:
          name: benchmarks
          path: artifacts/results.xml

  update-benchmarks:
    name: Update test benchmarks
    needs: [matlab-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Download test times
        uses: actions/download-artifact@v3
        with:
          name: benchmarks

      - name: Parse test time file
        run: |
          python -m pip install -r benchmarks/requirements.txt
          python benchmarks/parse_performance.py

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Toolbox benchmarks
          tool: customSmallerIsBetter
          output-file-path: benchmarks.json
          # Access token to deploy GitHub Pages branch
          github-token: ${{ secrets.GITHUB_TOKEN }}
          benchmark-data-dir-path: benchmarks
          # Push and deploy GitHub pages branch automatically
          auto-push: true
